extends layout.pug
block content
    section#content 
        table
            tr 
                th First Name 
                th Last Name   
            each name in names 
                tr
                    td #{name.firstName}
                    td=name.lastName